*,
html {
  margin: 0;
}
body {
  height: 100%;
}

.videoMultimedia {
  width: 100vw;
  height: 100vh;
}

.videoMultimedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 0;
}
